.container {
  width: 1200px;
  max-width: 90%;
  margin: 2rem auto;
}
.container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: 0 auto;
}
.container > form > button {
  padding: 0.8rem 1.5rem;
  background: #0000ff;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags > button {
  padding: 0.2rem 0.5rem;
  margin: 0.3rem 0.2rem;
  font-size: 0.8rem;
  background: rgb(13, 150, 155);
  border: none;
  cursor: pointer;
  color: #fff;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 0.5rem;
  margin: 1.5rem 0;
}
.images > div {
  width: 100%;
  height: 12rem;
}
.images > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
